body{
    background-color: rgb(113, 111, 111);
}
.member-container{
    margin: 80px 200px;
}
.form{
    margin: 18px 2px;
    padding: 15px 30px;
    font-size: 25px;
    padding-right: 400px;
}
label{
    font-size: 25px;
    color: white;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: cadetblue;
    margin-top: 25px;
    color: white;
}
#clear{
    background-color: rgb(223, 26, 26);
    margin-left: 20px;
}
h1{
    color: white;
    font-size: 60px;
    margin-left: 100px;
}
input{
    text-align: start;
    padding-left: 2px;
}
a{
    padding: 10px 18px;
    background-color: green;
    text-decoration: none;
    font-size: 25px;
    color: white;
}
table{
    margin-left: 140px;
    /* border: 1px solid white; */
}
th,tr{
    color: white;
    padding: 16px 100px;
    font-size: 25px;
    text-align: center;
}
#alert-message-one,
#alert-message-two,
#alert-message-three{
    color: rgb(5, 0, 0);
    font-size: 25px;
    padding: 10px;
}